<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <connectionStrings>
    <!--LOCAL-->
    <!--<add name="PNSWEBEntities" connectionString="metadata=res://*/PNSWEB.csdl|res://*/PNSWEB.ssdl|res://*/PNSWEB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=PNSWEB;persist security info=True;user id=sa;password=sapwd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PNSDBWEBEntities" connectionString="metadata=res://*/PNSDBWEB.csdl|res://*/PNSDBWEB.ssdl|res://*/PNSDBWEB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=PNSDBWEB;persist security info=True;user id=sa;password=sapwd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PNSWEB_SoftProEntities" connectionString="metadata=res://*/PNSWEB_SoftPro.csdl|res://*/PNSWEB_SoftPro.ssdl|res://*/PNSWEB_SoftPro.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=PNSWEB;persist security info=True;user id=sa;password=sapwd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--.15-->
    <add name="PNSWEBEntities" connectionString="metadata=res://*/PNSWEB.csdl|res://*/PNSWEB.ssdl|res://*/PNSWEB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.15;initial catalog=PNSWEB;persist security info=True;user id=toptier;password=p@$$w0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PNSDBWEBEntities" connectionString="metadata=res://*/PNSDBWEB.csdl|res://*/PNSDBWEB.ssdl|res://*/PNSDBWEB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.15;initial catalog=PNSDBWEB;persist security info=True;user id=toptier;password=p@$$w0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PNSWEB_SoftProEntities" connectionString="metadata=res://*/PNSWEB_SoftPro.csdl|res://*/PNSWEB_SoftPro.ssdl|res://*/PNSWEB_SoftPro.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.15;initial catalog=PNSWEB;persist security info=True;user id=toptier;password=p@$$w0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />


    <!--TOPTIER-->
    <!--<add name="PNSWEBEntities" connectionString="metadata=res://*/PNSWEB.csdl|res://*/PNSWEB.ssdl|res://*/PNSWEB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=toptierdev;initial catalog=PNSWEB;persist security info=True;user id=sa;password=p@$$w0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PNSDBWEBEntities" connectionString="metadata=res://*/PNSDBWEB.csdl|res://*/PNSDBWEB.ssdl|res://*/PNSDBWEB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=toptierdev;initial catalog=PNSDBWEB;persist security info=True;user id=sa;password=p@$$w0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PNSWEB_SoftProEntities" connectionString="metadata=res://*/PNSWEB_SoftPro.csdl|res://*/PNSWEB_SoftPro.ssdl|res://*/PNSWEB_SoftPro.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=toptierdev;initial catalog=PNSWEB;persist security info=True;user id=sa;password=p@$$w0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
 
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>